# =========================== #
# === DevOps Compose File === # 
# =========================== #

# + Services {{{
services: 
    # + Vote Servies + # 
    vote: 
         build: 
            context: ./vote
            dockerfile: Dockerfile
         container_name: vote
         ports:
            - "8080:8080"
         networks:
            - frontend-net
            - backend-net
         depends_on:
           - redis

    # + Result Servies + # 
    result: 
         build: 
            context: ./result
            dockerfile: Dockerfile
         container_name: result
         ports:
           - "8081:8081"
         networks:
            - frontend-net 
            - backend-net
         depends_on:
           - postgres

    # + Worker Service 5252 + # 
    worker: 
         build: 
            context: ./worker
            dockerfile: Dockerfile
         container_name: worker
         networks:
            - backend-net 
         depends_on:
            - redis
            - postgres

    # + Redis Servies 6379 + # 
    redis: 
         image: redis:alpine
         container_name: redis
         networks:
            - backend-net 
         healthcheck:
            test: ["CMD", "./healthchecks/redis.sh"]
            interval: 10s
            timeout: 5s
            retries: 5 
    
    # + Postgres Servies 5432 + # 
    postgres: 
         image: postgres:alpine
         container_name: db
         volumes:
            - postgres-data:/var/lib/postgresql/data
         environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
            - POSTGRES_DB=postgres
         networks:
            - backend-net 
         healthcheck:
            test: ["CMD", "./healthchecks/postgres.sh"]
            interval: 10s
            timeout: 5s
            retries: 5
   # + Seed Data Service + # 
    seed:
         build: 
            context: ./seed
            dockerfile: Dockerfile
         container_name: seed
         #entrypoint: ["sleep", "inf"]
         networks:
            - backend-net
         depends_on:
            - redis
            - postgres
# }}} 

# + Networks {{{
networks:
    frontend-net:
        driver: bridge
    backend-net:
        driver: bridge
# }}}
# + Volumes {{{
volumes:
    postgres-data:
# }}}
