# =========================== #
# === DevOps Compose File === # 
# =========================== #

# + Services {{{
services: 
    # + Vote Servies + # 
    vote: 
         build: 
            context: ./vote
            dockerfile: Dockerfile
         container_name: vote
         ports:
            - "8000:8000"
         networks:
            - frontend-net
            - backend-net
         depends_on:
            - redis
            - postgres
            - worker

    # + Result Servies + # 
    result: 
         build: 
            context: ./result
            dockerfile: Dockerfile
         container_name: result
         ports:
            - "4000:4000"
         networks:
            - frontend-net 
            - backend-net
         depends_on:
            - redis
            - postgres
            - worker

    # + Worker Service + # 
    worker: 
         build: 
            context: ./worker
            dockerfile: Dockerfile
         container_name: worker
         ports:
            - "5252:5252"
         networks:
            - backend-net 
         depends_on:
            - redis
            - postgres

    # + Redis Servies + # 
    redis: 
         image: redis:alpine
         container_name: redis
         ports:
            - "6379:6379"
         networks:
            - backend-net 
         healthcheck:
            test: ["CMD", "./healthchecks/redis.sh"]
            interval: 10s
            timeout: 5s
            retries: 5 
    
    # + Postgres Servies + # 
    postgres: 
         image: postgres:alpine
         container_name: postgres
         environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
            - POSTGRES_DB=postgres
         ports:
            - "5432:5432"
         networks:
            - backend-net 
         healthcheck:
            test: ["CMD", "./healthchecks/postgres.sh"]
            interval: 10s
            timeout: 5s
            retries: 5
# }}} 

# + Networks {{{
networks:
    frontend-net:
        driver: bridge
    backend-net:
        driver: bridge
# }}}